:root[data-theme="noche"] {
    --texto-primario: rgb(247, 242, 242);
    --texto-secundario: rgb(0, 0, 0);
    --texto-tarea: rgb(0, 0, 0);
    --sombra-texto: 1px 1px rgba(0, 0, 0, 0.1);
    --sombra-cuerpo: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    --fondo: rgb(38, 37, 37);
    --fondo-particular: linear-gradient(-20deg, #a15199 0%, #24d292 100%);
    --gradiente-fondo: linear-gradient(176deg, rgb(38, 37, 37) 0%, rgb(55, 53, 60) 100%);;
    --boton: rgba(165, 67, 155, 0.788) ;
    --btn-luz: rgba(223, 223, 145, 0.836);
    --efecto-luz: rgba(223, 223, 145, 0.836) 2px 2px 20px;
    --mejillas: rgb(255, 40, 75);
    --mejillas-efecto: rgb(255, 40, 75) 2px 2px 7px ;
    --corazon: rgba(255, 176, 189, 0.459);
    --efecto-corazon:  rgb(255, 176, 189) 0px 0px 7px ;
    --tarea: rgba(223, 223, 145, 0.836);
    --tarea-realizada: rgb(114, 182, 114);
    --nav: rgb(55, 53, 60); 
    --box-tareas: rgb(64, 63, 65);
}

:root[data-theme="dia"] {
    --texto-primario: rgb(68, 68, 68);
    --texto-secundario: rgb(255, 255, 255);
    --texto-tarea: rgb(68, 68, 68);
    --sombra-texto: 1px 1px rgba(0, 0, 0, 0.1);
    --sombra-cuerpo: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    --fondo: rgba(248, 196, 249, 0.66);
    --fondo-particular: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(255, 170, 184) 97%);
    --gradiente-fondo: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
    --boton: rgb(255, 150, 167);
    --btn-luz: rgb(255, 255, 184);
    --efecto-luz: rgb(255, 255, 184) 2px 2px 20px;
    --mejillas: rgb(255, 40, 75);
    --mejillas-efecto: rgb(255, 40, 75) 2px 2px 7px ;
    --corazon: rgba(255, 176, 189, 0.678);
    --efecto-corazon:  rgba(255, 176, 189, 0.678) 0px 0px 7px ;
    --tarea: rgb(255, 255, 196);
    --tarea-realizada: rgb(226, 255, 226);
    --nav: rgba(255, 255, 255, 0.308); 
    --box-tareas: rgba(255, 255, 255, 0.63);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--fondo);
    background: var(--gradiente-fondo);
    color: var(--texto-primario);
    margin-top: 20px;
}

nav {
    background-color: var(--nav);
    border-radius: 30px;
    cursor: default;
    box-shadow: var(--sombra-cuerpo);
    width: 600px;
    margin: auto;

}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.hora {
    font-size: 15px;
    padding-left: 10px;
    letter-spacing: 2px;
    width: 20%;
    display: flex;
    justify-content: start;
    cursor: default !important;
}

#hora {
    margin: 0;
    padding: 6px;
    align-self: center;
    background: var(--fondo-particular);
    color: var(--texto-secundario);
    border-radius: 30px;
    box-shadow: var(--sombra-cuerpo);
    text-shadow: var(--sombra-texto);

}

#luz {
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 15px;
    cursor: default;
}

.fa-lightbulb-o {
    background-color: var(--btn-luz) !important;
    padding: 8px;
    border-radius: 30px;
    box-shadow: var(--sombra-cuerpo);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-shadow: var(--sombra-texto);

}

.fa-lightbulb-o:hover {
    box-shadow: var(--efecto-luz);
}

nav .nav-container > button {
    background-color: transparent;
    border-color: transparent;
}

nav .nav-container > h1 {
    margin: 2px;
    font-size: 20px;
    text-shadow: var(--sombra-texto);
}

nav .nav-container h1 > span {
    border-radius: 100%;
    padding: 0 5px 0 5px;
}

nav .nav-container h1:hover > span {
    text-shadow: var(--mejillas-efecto);
    transition-duration: 1s;
}

.container {
    width: 450px;
    min-height: 480px;
    height: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 30px;
}

.inicial > h3 {
    letter-spacing: 3.5px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    border-color: transparent;
    background: var(--fondo-particular);
    padding: 20px;
    margin-top: 0;
    color: var(--texto-secundario);
    box-shadow: var(--sombra-cuerpo);
    text-shadow: var(--sombra-texto);
}

.seccion-tareas {
    width: 100%;
    margin-top: 20px;
}

/* SECCIÓN PARA AGREGAR TAREAS */
.seccion-tareas > form {
    border-radius: 30px;
    border-color: transparent;
    background-color: var(--box-tareas);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: var(--sombra-cuerpo);

}

input {
    border-radius: 30px;
    border-color: transparent;
    letter-spacing: 1.5px;
    width: 90%;
    outline: none;
    font-size: 14px;
    padding: 0 10px 0 10px;
    font-family: 'Open Sans', sans-serif !important;
}

.formulario-tarea > .btn-agregar-tarea {
    background: var(--boton);
    border-radius: 30px;
    padding: 4px 5px;
    border-color: transparent;
    width: 9%;
}

#btn-agregar-tarea {
    color: var(--texto-secundario);
}

.btn-agregar-tarea:hover #btn-agregar-tarea {
    color: var(--texto-primario);
}


#lista-de-tareas{
    margin: 0;
}

.area-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    border-color: transparent;
    background-color: var(--box-tareas);
    box-shadow: var(--sombra-cuerpo);
}

.tarea-particular{
    padding-top: 2px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

.btn-tarea-realizada, .btn-tarea-eliminada {
    background: var(--boton);
    border-radius: 30px;
    padding: 1px 2px;
    border-color: transparent;
    color: var(--texto-secundario);
    width: 7.5%;
    max-height: 40px;
}

.btn-tarea-eliminada:hover {
    color: var(--texto-primario);
}

.texto-tarea {
    width: 80%;
    padding: 8px 15px; 
    margin: 0px;
    word-wrap: break-word;
    border-radius: 30px;
    background-color: var(--tarea);
    color: var(--texto-tarea);
    letter-spacing: 2px;
}

#realizada {
    background-color: var(--tarea-realizada);
    text-decoration: line-through;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer > a {
    text-decoration: none;
    margin: 10px;
}

a > i {
    color: var(--texto-primario);
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
}

a > i:hover {
    transform: translateY(-5px);
}

.firma {
    cursor: default;
}

.firma > span  {
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0px 5px;
}

.firma:hover > span{
    background-color: var(--corazon);
    border-radius: 30px;
    box-shadow: var(--efecto-corazon); 
}


@media only screen and (max-device-width: 600px){

    nav {
        max-width: 350px;
    }
    
    .nav-container {
        width: 100%;
    }
    
    nav .nav-container > h1, span {
        font-size: 16px;
    }

    .nav-container span {
        text-shadow: rgb(255, 40, 75) 2px 2px 4px !important;
    }

    #hora {
        font-size: 13px;
    }

    #luz > i {
        display: flex;
        padding: 4px 7px;
        justify-content: end;
        align-self: center;
        font-size: 18px;
    }

    .container {
        width: 330px;
        margin-top: 15px;
        padding-top: 15px;
        min-height: 370px;
        box-shadow: none;
    }

    .container h3 {
        font-size: 13.5px;
        margin-bottom: 15px;
        padding: 10px;
    }

    .formulario-tarea {
        padding: 12px 10px !important;
    }

    input {
        width: 87%;
    }

    .formulario-tarea button {
        font-size: 11px;
    }

    #btn-agregar-tarea {
        color: white !important;
    }

    .area-lista {
        padding: 10px;
    }

    .texto-tarea {
        padding: 2px 10px;
    }

    .btn-tarea-realizada, .btn-tarea-eliminada {
        font-size: 12.5px;
        padding: 0;
    }

    footer {
        margin-top: 25px;
    }

    .firma {
        margin: 0;
    }
}