* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgba(248, 196, 249, 0.66);
    background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
    color:#444444;
}

nav {
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 30px;
    cursor: default;
    margin-top: 10px;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.fecha {
    font-size: 14px;
    padding-left: 15px;
    width: 20%;
    display: flex;
    justify-content: start;
    cursor: default !important;
}

#fecha {
    margin: 0;
    padding: 0;
    align-self: center;
}

#luz {
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 15px;

}

nav .nav-container > button {
    background-color: transparent;
    border-color: transparent;
}

nav .nav-container > h1 {
    margin: 2px;
    font-size: 20px;
}

nav .nav-container h1 > span {
    border-radius: 100%;
    padding: 0 5px 0 5px;
}

nav .nav-container h1:hover > span {
    text-shadow: rgb(255, 40, 75) 2px 2px 7px;
    transition-duration: 1s;
}

.container {
    width: 450px;
    min-height: 480px;
    height: 80%;
    margin: auto;
    padding-top: 20px;
}

.inicial > h3 {
    letter-spacing: 3.5px;
    font-size: 16.5px;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    border-color: transparent;
    background-color: rgb(255, 150, 167);
    padding: 20px;
    margin-top: 0;
    color: white;
}

.seccion-tareas {
    width: 100%;
    margin-top: 20px;
}

/* SECCIÓN PARA AGREGAR TAREAS */
.seccion-tareas > form {
    border-radius: 30px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}

input {
    border-radius: 30px;
    border-color: transparent;
    letter-spacing: 1.5px;
    width: 90%;
    outline: none;
    font-size: 14px;
    padding: 0 10px 0 10px;
    font-family: 'Open Sans', sans-serif !important;
}

.formulario-tarea > .btn-agregar-tarea {
    background-color: rgb(255, 150, 167);
    border-radius: 30px;
    padding: 4px 5px;
    border-color: transparent;
    width: 9%;
}

#btn-agregar-tarea {
    color: white;
}

.btn-agregar-tarea:hover #btn-agregar-tarea {
    color: #444444;
}


#lista-de-tareas{
    margin: 0;
}

.area-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.63);
}

.tarea-particular{
    padding-top: 2px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 5px;
}

.btn-tarea-realizada, .btn-tarea-eliminada {
    background-color: rgb(255, 150, 167);
    border-radius: 30px;
    padding: 1px 2px;
    border-color: transparent;
    color: white;
    width: 7.5%;
    max-height: 40px;
}

.btn-tarea-eliminada:hover {
    color: #444444;
}

.texto-tarea {
    width: 80%;
    padding: 8px 15px; 
    margin: 0px;
    word-wrap: break-word;
    border-radius: 30px;
    background-color: rgb(255, 255, 196);
    letter-spacing: 2px;
}

#realizada {
    background-color: rgb(226, 255, 226);
    text-decoration: line-through;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer > a {
    text-decoration: none;
    margin: 10px;
}

a > i {
    color: #444444;
}

@media only screen and (max-device-width: 600px){

    @keyframes blush {
        from { 
            text-shadow: rgba(243, 142, 159, 0.438) 2px 2px 5px;
        }

        to {
            text-shadow: rgb(255, 125, 147) 2px 2px 5px;
        }
    }


    nav {
        width: 100%;
    }
    
    .nav-container {
        margin: 2px;
        padding: 7px;
        border-radius: 30px;
        cursor: default;
        justify-self: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 60px;
    }
    
    nav .nav-container > h1 {
        margin: 2px;
        font-size: 0px;
        align-self: center;
    }

    nav .nav-container h1 > span {
        margin: 2px;
        font-size: 25px;
        align-self: center;
        animation-name: blush;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #fecha {
        font-size: 13px;
    }

    #luz > i {
        width: 20%;
        display: flex;
        padding-right: 7px;
        justify-content: end;
        align-self: center;
        font-size: 20px;
    }

    .container {
        width: 100%;
        margin: 0;
        padding-top: 15px;
        min-height: 500px;
        height: 80%;
        overflow:visible;
        position: relative;
    }

    .container h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .seccion-tareas > h4 {
        letter-spacing: 2px;
        font-size: 15px;
        text-align: center;
    }

    #btn-agregar-tarea {
        color: white !important;
        padding: 2px 4px;
    }

    .btn-tarea-realizada, .btn-tarea-eliminada {
        padding: 2px 4px;
    }

    footer {
        margin-top: 25px;
    }
}